td {
    border-color: black;
    border-style: inherit;
    border-width: 1px;
    background-color: gray;
    width: 50px;
    height: 50px;
}

td.Mesa {
    background-color: greenyellow;
}

td.Aire {
    background-color: lightgray;
}

.Ocupada {
    background-color: black!important;
}

.Selec {
    border-color: yellow;
    border-width: 2px;
}